{% extends "base.html.jinja" %}
{% block left_panel %}
    <h2>Formularz rejestracji</h2>
    {% if message %}
        <p>{{message}}</p>
    {% else %} 
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{form_user_register}}
        <button type="submitt">Zarejestruj</button>
    </form>   
    {% endif %}
{% endblock left_panel %}